<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.mapper.UserCollectTopicMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.domain.UserCollectTopic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="collect_time" property="collectTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, topic_id,collect_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_user_collect_topic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_user_collect_topic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neusoft.domain.UserCollectTopic" >
    insert into tab_user_collect_topic (id, user_id, topic_id,collect_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER},#{collectTime}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.domain.UserCollectTopic" >
    insert into tab_user_collect_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="collectTime != null" >
        collect_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="collectTime != null" >
        #{collectTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.domain.UserCollectTopic" >
    update tab_user_collect_topic
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="collectTime != null" >
        collect_time =#{collectTime},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.domain.UserCollectTopic" >
    update tab_user_collect_topic
    set user_id = #{userId,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER},
      collect_time=#{collectTime}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUseridAndTopicid" parameterType="int" resultType="map">
      select tab_topic.title,tab_user_collect_topic.collect_time,tab_user_collect_topic.topic_id from tab_user_collect_topic
      join tab_topic on tab_user_collect_topic.topic_id=tab_topic.id
      where user_id=#{value}
	  ORDER BY tab_user_collect_topic.collect_time desc
  </select>

  <delete id="deleteByUserIdAndTopicId" parameterType="map" >
    delete from tab_user_collect_topic where user_id=#{userId} and topic_id=#{topicId}
  </delete>

  <select id="selectForCollect" parameterType="map" resultType="map">
select * from tab_user_collect_topic
join tab_topic on tab_topic.id=tab_user_collect_topic.topic_id
where tab_topic.id=#{topicId} and tab_user_collect_topic.user_id=#{userId}
  </select>
</mapper>